input.is-invalid {
    padding: .6rem 1rem !important;
}

@-moz-keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

@-webkit-keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}

[class*="zwicon-"].spin:before {
    display: inline-block;
    animation: spin 1s infinite linear;
}
